[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
enapter = {editable = true, path = "."}

[dev-packages]
black = "*"
docker = "*"
faker = "*"
isort = "*"
mypy = "*"
pyflakes = "*"
pytest = "*"
pytest-asyncio = "*"
pytest-cov = "*"
setuptools = "*"
twine = "*"
