name: CI

on:
  push:

jobs:
  Ubuntu:
    name: "Ubuntu (python-${{ matrix.python }})"
    timeout-minutes: 10
    runs-on: "ubuntu-latest"
    strategy:
      fail-fast: false
      matrix:
        python: ["3.11", "3.12", "3.13", "3.14"]
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup python
        uses: actions/setup-python@v2
        with:
          python-version: "${{ matrix.python }}"

      - name: Install pipenv
        run: make get-pipenv

      - name: Install dependencies
        run: make install-deps

      - name: Run checks
        run: make check
